.topNav {
  display: flex;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  min-height: 70px;
  min-width: 100%;
}

.topBtn {
  display: flex;
  align-items: center;
  width: 300px;
  height: 60px;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  color: rgb(15, 60, 76);
  margin-left: 50px;
  margin-right: 80px;
}

.topNavIcons {
  font-size: 22px;
  background: rgb(255, 255, 255);
}
